$color1: rgb(18, 154, 167);
$color2: #24252a;
$height1: 100vh;
$padding: 0;
$margin: 0;
$color3: green;
$color4: #f39010;
$brs: 15px;
$imgbrs: 15px 15px 0 0;
$widht1: 100vh;
$color5: rgb(238, 123, 15);
$hovcol: rgb(68, 8, 70);
$disp: flex;
$color6: white;