@import "variables";
@import "cards";
@import "menu";
@import "footer";

*{
    padding: $padding;
    margin: $margin;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: $height1;
    background-size: contain;
    background-image: url(https://c.tenor.com/S5JPPusvSgUAAAAd/aesthetic-purple.gif);
    color: $color4;
  }

  header{
      text-align: center;
  }


















































